.idea
out

desktop-client/.idea
desktop-client/out
desktop-client/desktop-client.iml
desktop-client/src/META-INF

backend/.idea
backend/out
backend/db
backend/backend.iml

packet/.idea
packet/out
packet/packet.iml