# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

docker-mariadb-volume/

.project
.settings/
app/bin/
app/.classpath
app/.project
app/.settings/
